# Case-by-case analysis
This notebook demonstrates how to visualize which model managed to solve which test-case how often.

In [1]:
import pandas as pd
import os

In [2]:
directory = "../data/"

collection = []
for filename in os.listdir(directory):
    if filename.endswith("_results.jsonl"):
        print(filename)
        df = pd.read_json(directory + filename, lines=True)
        df['model'] = filename.replace(".jsonl_results.jsonl", "").replace("samples_", "")
        collection.append(df)

df = pd.concat(collection)

samples_claude-3-opus-20240229.jsonl_results.jsonl
samples_codellama.jsonl_results.jsonl
samples_gemini-pro.jsonl_results.jsonl
samples_gpt-3.5-turbo-1106.jsonl_results.jsonl
samples_gpt-4-1106-preview.jsonl_results.jsonl
samples_Mistral-7B-Instruct-v0.2.jsonl_results.jsonl

In [3]:
df

,task_id,completion,full_response,result,passed,model
0,../test_cases/apply_otsu_threshold_and_count_p...,\n# Plan:\n# 1. Convert the image to grayscale...,"Here's the completed code with the plan, libra...",failed: OpenCV(4.9.0) D:\a\opencv-python\openc...,False,claude-3-opus-20240229
1,../test_cases/binary_closing.ipynb,\n# Plan:\n# 1. Perform binary dilation on the...,"Here's the completed code with a plan, importe...",passed,True,claude-3-opus-20240229
2,../test_cases/convex_hull_measure_area.ipynb,\n# Plan:\n# 1. Convert the point cloud to a n...,"Here is the complete code with a plan, importe...",passed,True,claude-3-opus-20240229
3,../test_cases/convolve_images.ipynb,\n# Plan:\n# 1. Import necessary libraries (nu...,"Here's the completed code with a plan, importe...",passed,True,claude-3-opus-20240229
4,../test_cases/count_number_of_touching_neighbo...,\n# Plan:\n# 1. Find the unique labels in the ...,"Here's the completed code with a plan, necessa...",failed:,False,claude-3-opus-20240229
...,...,...,...,...,...,...
465,../test_cases/worflow_segmentation_measurement...,\nimport numpy as np\nfrom scipy.ndimage impor...,```python\nimport numpy as np\nfrom scipy.ndim...,failed: cannot import name 'measure' from 'sci...,False,Mistral-7B-Instruct-v0.2
466,../test_cases/worflow_watershed_segmentation_c...,\nimport numpy as np\nfrom scipy.ndimage impor...,Here's the completed code based on your descri...,failed: cannot import name 'watershed' from 's...,False,Mistral-7B-Instruct-v0.2
467,../test_cases/workflow_batch_process_folder_co...,\nimport os\nimport skimage.io as io\n\ndef wo...,```python\nimport os\nimport skimage.io as io\...,failed: [WinError 3] The system cannot find th...,False,Mistral-7B-Instruct-v0.2
468,../test_cases/workflow_batch_process_folder_me...,\nimport os\nimport numpy as np\nimport pandas...,```python\nimport os\nimport numpy as np\nimpo...,failed: [WinError 3] The system cannot find th...,False,Mistral-7B-Instruct-v0.2
469,../test_cases/workflow_segment_measure_umap.ipynb,\n# Import necessary libraries\nimport numpy a...,```python\n# Import necessary libraries\nimpor...,failed: cannot import name 'measure' from 'sci...,False,Mistral-7B-Instruct-v0.2

In [4]:
import pandas as pd

# Assuming 'df' is the initial dataframe
# Ensure the 'passed' column is boolean for correct processing.
df['passed'] = df['passed'].astype(bool)

# Pivot the dataframe to count True 'passed' values for each model-task combination.
pivot_df = df.pivot_table(index='task_id', columns='model', values='passed', aggfunc='mean', fill_value=0)

# Reset the index if 'task_id' needs to be a column instead of an index
pivot_df.reset_index(inplace=True)

# Show the transformation result (for verification)
def colorize(styler):
    styler.background_gradient(axis=None, cmap="PiYG")
    return styler
pivot_df.style.pipe(colorize)

In [5]:
pivot_df.describe()

model,Mistral-7B-Instruct-v0.2,claude-3-opus-20240229,codellama,gemini-pro,gpt-3.5-turbo-1106,gpt-4-1106-preview
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000
mean,0.119149,0.395745,0.072340,0.117021,0.282979,0.421277
std,0.245515,0.398343,0.149931,0.223917,0.347863,0.383880
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.400000,0.000000,0.000000,0.100000,0.400000
75%,0.100000,0.750000,0.100000,0.100000,0.450000,0.800000
max,1.000000,1.000000,0.700000,1.000000,1.000000,1.000000